@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
$family-primary: "Roboto", sans-serif;
$nav-color-scheme: #1d1d1d;
$primary-black: #0a0a0a;
$secondary-black: #0f0f0f;
// $secondary-black: lighten(#0f0f0f, 15%);
$link: darken(#fff, 35%);
// changes <html> background color.
$body-background-color: #121212;

// changes navbar.has-dropdown.dropdown-menu
$navbar-dropdown-background-color: $nav-color-scheme;
$navbar-dropdown-item-hover-background-color: lighten($nav-color-scheme, 5%);
$navbar-dropdown-border-top: none;
$navbar-dropdown-item-active-background-color: $navbar-dropdown-item-hover-background-color;
$navbar-divider-background-color: $nav-color-scheme;

$card-color: #fff;
$card-background-color: #0a0a0a;
$card-content-background-color: $card-background-color;
$card-footer-background-color: $card-background-color;
$card-footer-border-top: 1px solid #555;

$dropdown-content-background-color: lighten($nav-color-scheme, 5%);
$dropdown-item-color: #fff;

$modal-content-width: 800px;
$modal-card-head-background-color: $secondary-black;
$modal-card-head-border-bottom: none;
$modal-card-title-color: #fff;
$modal-card-body-background-color: $primary-black;
