.footer {
  background-color: $primary-black;
  padding: 0;
  .justify-center {
    justify-content: center;
  }
  .footer-content {
    padding: 3rem 1.5rem 6rem;
    .social {
      text-align: center;
      .icon {
        &:hover {
          color: lighten(#4a4a4a, 1%);
        }
      }
    }
  }
  .sub-footer {
    border-top: 1px solid #333;
    display: flex;
    background-color: darken(#191919, 5%);
    padding: 0.25rem 1rem;
    align-items: center;
    .policy {
      flex: 1;
    }
  }
}
