@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-100%);
  }
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1;
    color: #444;
    padding: 3rem 0;
  }
}

.nested.dropdown {
  &:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    top: 0;
    margin-left: 100%;
  }
  button {
    color: #fff;
    background: none;
    padding: 0px 0px;
    border: 0px;
    font-size: 14px;
    font-weight: 400;
    height: 2em;
  }
}

.error404 {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .error-message-404 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 72px;
      padding: 1rem;
      color: #fff;
      background-color: #0f0f0f;
      border-radius: 4px;
    }
  }
}

.social-icons {
  display: flex;
  span {
    padding: 0 0.25rem;
    .twitch {
      display: block;
      width: 27px;
    }
    .social-icon {
      img {
        width: 28px;
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
