@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-100%);
  }
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1;
    color: #444;
    padding: 3rem 0;
  }
}

.nested.dropdown {
  &:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    top: 0;
    margin-left: 100%;
  }
  button {
    color: #fff;
    background: none;
    padding: 0px 0px;
    border: 0px;
    font-size: 14px;
    font-weight: 400;
    height: 2em;
  }
}

.error404 {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .error-message-404 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 72px;
      padding: 1rem;
      color: #fff;
      background-color: #0f0f0f;
      border-radius: 4px;
    }
  }
}

.user {
  .navbar-user-details {
    display: flex;
    .navbar-username {
      padding-left: 10px;
    }
  }
  .navbar-dropdown {
    .navbar-item > span:last-child {
      padding-left: 20px;
    }
  }
}

.section-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  .section-head-text {
    padding: 0 1rem;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    top: 7px;
  }
  .line {
    flex: 3 1 0;
    height: 10px;
    width: 100%;
    background-color: $primary-black;
  }
}

#authentication {
  z-index: 10000;
  #login,
  #register {
    .modal-card-body {
      position: relative;
      .is-loading {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
