/* BLACKOUT V1 THEME NAVIGATION BAR / HEADER */
#bko-head {
  height: 80px;

  font-weight: 500;

  .navbar-brand {
    padding-left: 10px;
  }
  .navbar-item {
    a {
      color: #fff;
    }
  }
  .navbar-start {
    text-transform: uppercase;
  }
  .navbar-end {
    .auth-label {
      padding-left: 5px;
    }
  }
}
