/* BLACKOUT V1 THEME NAVIGATION BAR / HEADER */
#social {
  background-color: $primary-black;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: row-reverse;
}

#bko-head {
  height: 80px;
  text-transform: uppercase;
  font-weight: 500;

  .navbar-brand {
    padding-left: 10px;
  }
  .navbar-item {
    a {
      color: #fff;
    }
  }
}
