.parallax-container {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 100%;
  .parallax-text-wrapper {
    display: flex;
    position: absolute;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 5px 10px rgba(00, 00, 00, 0.9);
    h1 {
      font-family: "Unispace-Bold", "Roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
        Arial, sans-serif;
    }
  }
  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    img {
      position: absolute;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
}
